@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="form-gauniv">
            <h2 class="text-center mb-4">Créer un compte</h2>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Pseudo" class="form-control form-control-gauniv" autocomplete="username" aria-required="true" placeholder="Pseudo" />
                    <label asp-for="Input.Pseudo" class="text-muted">Pseudo</label>
                    <span asp-validation-for="Input.Pseudo" class="text-danger"></span>
                </div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control form-control-gauniv" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="text-muted">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control form-control-gauniv" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="text-muted">Mot de passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-gauniv" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword" class="text-muted">Confirmer le mot de passe</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                
                <button id="registerSubmit" type="submit" class="w-100 game-btn py-3 fs-3">S'inscrire</button>
            </form>
            
            <div class="mt-4 text-center">
                <p class="mb-0 text-muted">Déjà un compte ? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-white text-decoration-none fw-bold">Se connecter</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
